[submodule "src/syzygy"]
	path = src/syzygy
	url = https://github.com/jdart1/Fathom
        ignore = dirty
[submodule "tools/stats"]
	path = tools/stats
	url = https://www.github.com/jdart1/stats
        ignore = dirty
[submodule "src/nnue"]
	path = src/nnue
	url = https://github.com/jdart1/nnue.git
