# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cpp text
*.h text

# Declare files that will always have CRLF line endings on checkout.
Makefile.win text eol=crlf
release.bat text eol=crlf
gui/* text eol=crlf
gui/install/* text eol=crlf
gui/res/GUI.RC2 text eol=crlf
gui/help/*.h text eol=crlf
gui/help/arasan.hhk text eol=crlf
gui/help/arasan.hhp text eol=crlf
gui/help/arasan.hhc text eol=crlf
gui/help/html/* text eol=crlf
prj/* text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.doc binary
*.nnue binary
*.TTF binary
*.ZIP binary
*.ICO binary
*.BMP binary
*.chm binary
